@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: latofuente;
    src: url(fonts/Lato-Bold.ttf);
}

* {
    scroll-behavior: smooth;
    margin: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: latofuente;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 10em;
}

body {
    background: #fbfbfb;
    line-height: 1.2;
}

.mobil {
    display: none;
}

#portada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    background: #af599e;
    right: 0px;
    left: 0px;
    top: 0px;
}

#portada img {
    margin: 20px 0px;
    width: 90px;
    margin-right: 15px;
    box-shadow: 5px -5px 5px black;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    margin-right: 20px;
}
#menu a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
#menu a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#contenido {
    padding: 10px 25px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#bio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton {
    background: #ca82bc;
    text-transform: uppercase;
    padding: 20px;
    box-shadow: -2px -2px 5px black inset;
    border-radius: 15px
}

#boton:hover {
    background: #d6bed1;
}

#boton a {
    padding: 20px 20px;
}

article ul li {
    margin: 10px;
}

#habilidades {
    padding-left: 5px;
    background: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    border-radius: 20px;
    box-shadow: -2px -2px 5px black inset;

}

#tprincipal {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.titulo {
    margin-bottom: 15px;
    font-size: 28px;
}
/*
.red-title {
    color: red !important;
    background-color: yellow !important;
}
*/
p {
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

#efectos{
    display: block;
   text-align: center;
}
#efectos > h3{
    font-size: 38px;
    background: linear-gradient(#af599e,#ca82bc,#2326d3,#3fc9db);
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 15px;  
}

.boton{
    font-size: 18px;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 10px;
}
#efectos > button:hover{
    border-radius: 20px;
    box-shadow: -2px -2px 5px black inset;
    transition: all 500ms linear;
}
#agregar-EIDOS{
    background: linear-gradient(to bottom, #af599e 20%, #ca82bc 80%);
    color: #fbfbfb;
    cursor: pointer;
}
#agregar-ACCENTURE{
    background: linear-gradient(to bottom, #2326d3 20%, #3fc9db 80%);
    color: #fbfbfb;
    cursor: pointer;
}

#quitar-fondos{
    background: linear-gradient(to bottom, #d9d9e0 20%, #1c1d1d 80%);
    color: #fbfbfb; 
    cursor: pointer;
}

.icono {
    width: 25px;
    padding-right: 5px;
}

#footer {
    height: 90px;
    background: #af599e;
    color: white;
    text-align: center;
    line-height: 90px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }
    #menu li {
        padding-top: 4px;
    }

    .menu {
        display: none;
        flex-direction: column;
        animation: lista 400ms linear;
    }
    
    @keyframes lista{
        from{
            transform: translateX(-100%);
            opacity: 0;
        }
        to{
            transform: translateX(0%);
            opacity: 1;
        }
    }
    .menu.active {
        display: flex;
        
    }
}

@media (max-width: 700px) {

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    .web {
        display: none;
    }

    .mobil {
        display: flex;
        justify-content: center;
    }

    #tprincipal2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    #presen img {
        width: 400px;
        border-radius: 250px;
    }

    #sobre-mi {
        min-height: 30vh;
    }

    #hablemos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #hablemos p {
        padding: 0px 30px;
    }

    #social {
        display: flex;
        justify-content: space-around;
    }

    #social img {
        width: 70px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
}

@media (max-width: 483px) {
    #presen img {
        width: 200px;
        border-radius: 250px;
    }
}